<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listners.connect_database_Listner</listener-class>
    </listener>
    <servlet>
        <servlet-name>login_servlet</servlet-name>
        <servlet-class> com.onlinestore.servlets.login_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homepage</servlet-name>
        <servlet-class> com.onlinestore.servlets.homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sign_up</servlet-name>
        <servlet-class>com.onlinestore.servlets.sign_up</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_added</servlet-name>
        <servlet-class>com.onlinestore.servlets.user_added</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_servlet</servlet-name>
        <url-pattern>/login_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homepage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sign_up</servlet-name>
        <url-pattern>/sign_up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_added</servlet-name>
        <url-pattern>/user_added</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
